.widget {
    position: absolute;
}
.form {
	background-color: lightgray;
}
.form-button {
	background-color: lightgray;
}
.form-text-input {
}
.form-frame {
	border: solid 1px black;
	overflow: hidden;
}
.form-label {
    font-weight: bold;
    font-style: italic;
}
