.form {
	position: absolute;
	background-color: lightgray;
}
.form-button {
	position: absolute;
	background-color: lightgray;
}
.form-text-input {
	position: absolute;
}
.form-frame {
	position: absolute;
	border: solid 1px black;
	overflow: hidden;
}
.form-label {
	position: absolute;
}
